.sidebar-container {
    color: #4c304b;
    padding-left: 25px;
    padding-right: 25px;
    border-right: 4px solid #4c304b;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.sidebar-container div {
    margin-top: 15px;
}

.heading-2 {
    font-size: 22px;
    font-weight: 600;
}