.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

button {
  background: #ffffff;
  border: 0px;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
}

button.primary {
  background-color: #3498db;
  color: #ffffff;
}

button.sm {
  padding: 6px 14px;
}

button.grey {
  background-color: #f1f1f1;
  color: #000000;
}

.add-layout-container {
  margin-bottom: 20px;
  margin-top: 5px;
  height: 80px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #95a5a6;
  background-color: #ecf0f1;
  cursor: pointer;
}

.select-list-container {
  z-index: 99;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(218, 218, 218, 0.6);
}

.select-list {
  background: #fff;
  border-radius: 6px;
  min-width: 440px;
  max-height: 70vh;
  overflow: auto;
}

.select-list-item {
  padding: 7px 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
  border-top: 1px solid #eee;
}

.select-list-filters {
  border-bottom: 1px solid #eee;
  padding: 10px
}

.main-container {
  display: flex;
}

.main-prescription {
  margin-left: 25px;
  margin-top: 20px;
  position: relative;
  width: 700px;
}

#section-to-print {
  visibility: hidden;
}

@media print {
  body {
    visibility: hidden;
  }

  @page {
    size: auto;
    /* auto is the initial value */
    margin: 0;
    /* this affects the margin in the printer settings */
  }

  html,
  body {
    height: 99%;
    overflow: hidden;
  }

  #section-to-print {
    visibility: visible;
    position: absolute;
    left: 195px;
    top: 220px;
    font-size: 16px;
    height: fit-content;
    width: fit-content;
  }

  .sep-section {
    margin-top: 10px;
  }
}

.prescription-cta {
  position: absolute;
  top: 0;
  right: 10px;
}

.empty-lines {
  margin-top: 10px;
}


@media (max-width:640px) {

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .header-container {
    font-size: 14px;
  }

  .sidebar-container {
    font-size: 12px;
    display: none;
  }

  .heading-1 {
    font-size: 18px;
  }

  .heading-2 {
    font-size: ;
  }

  .prescription-cta {
    top: -5px
  }

  .main-prescription-container {
    margin-top: 20px;
  }

  .select-list {
    min-width: unset;
    width: 100vw;
  }
}